<html>
  <head>
    <title>XLSX File Uploader</title>
  </head>
  <body>
    <h1>XLSX File Uploader</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <label for="file">Select an XLSX file to upload:</label>
      <input type="file" id="file" name="file" accept=".xlsx">
      <br>
      <input type="submit" value="Upload">
    </form>
  </body>
</html>
